*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(51, 165, 165);
    box-shadow: inset 0px 10px 10px  rgb(205, 205, 245);
    color: wheat;
    padding: 1rem;
    margin-top: 10px;
}
.nav div a{
     color: white;
     text-decoration: none;
     margin: 40px;
}